.contenedor {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* MENU INICIO */
.menuInicio {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  text-align: center;
  background: linear-gradient(135deg, #003366, #0055a5);
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 2000px;
  min-height: 150px;
  color: white;
  transition: background 0.6s ease-in-out;
  gap: 20px;
  flex-wrap: nowrap;
}

/* MENU INICIO */
.menuEspera {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  text-align: center;
  background: linear-gradient(135deg, #660000, #c50505);
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 2000px;
  min-height: 150px;
  color: white;
  transition: background 0.6s ease-in-out;
  gap: 20px;
  flex-wrap: nowrap;
}

/* MENU ATAQUE */
/* MENU ATAQUE */
.menuAtaque {
  display: flex;
  justify-content: center; /* Centramos las columnas en el contenedor */
  align-items: flex-start;
  text-align: center;
  background: linear-gradient(135deg, #003366, #0055a5);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 2000px;
  min-height: 150px;
  color: white;
  transition: background 0.6s ease-in-out;
  gap: 10px; /* Menor espacio entre columnas */
  flex-wrap: nowrap;
}

.menuAtaqueActivo {
  background: linear-gradient(135deg, #003366, #32CD32);
}

/* TEXTO */
.columnaTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 22%; /* Le damos un poco menos de ancho para que todo quepa mejor */
}

.titulo {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
}

.subtitulo {
  font-size: 0.9rem;
  color: #f0f0f0;
  margin-top: 10px;
}

/* BOTONES */
.columnaBotones {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical para que los botones estén juntos */
  align-items: center;
  width: 22%; /* Igual que texto para mantener proporción */
  gap: 6px;  /* Botones más juntos */
}

/* BOTONES MENÚ INICIO */
.menuInicio .columnaBotones {
  gap: 15px; /* Más espacio para que se vea más centrado */
  justify-content: center;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MEDIA QUERIES - RESPONSIVO */
@media (max-width: 900px) {
  .menuInicio, .menuAtaque {
    flex-direction: column;
    align-items: center;
  }
  .columnaTexto, .columnaBotones {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }
}
