

.historialWrapper {
  padding: 20px;
  background-color: #2c2c2c; /* Fondo oscuro de contenedor */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.5rem; /* Tamaño de título más grande */
  font-weight: bold;
  color: #ffffff; /* Blanco para el título */
  margin-bottom: 20px;
}

.historialTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.historialTable th, .historialTable td {
  padding: 20px 25px; /* Filas más grandes */
  text-align: center;
  font-size: 1.2rem;
  color: #f0f0f0; /* Color claro para el texto */
}

.historialTable th {
  background-color: #333333; /* Fondo oscuro para los encabezados */
  color: #ffffff;
  font-weight: bold;
}

.historialTable tbody tr {
  transition: background-color 0.3s ease; /* Transición para el hover */
}


.victoria {
  background-color: #00bcd4; /* Color turquesa para victoria */
  color: #ffffff; /* Texto blanco para contrastar */
}

.derrota {
  background-color: #f44336; /* Rojo para derrota */
  color: #ffffff; /* Texto blanco para contrastar */
}

.noData {
  color: #888;
  font-size: 1.2rem;
  text-align: center;
}

.personajeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.personajeImg {
  width: 70px; /* Tamaño más grande para las fotos */
  height: 100px; /* Rectangular */
  object-fit: cover;
  border: 2px solid #fff; /* Borde blanco para destacar la imagen */
  margin-top: 5px;
}

/* Para el texto dentro de las filas */
.victoria, .derrota {
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: none; /* Sin efecto neón */
}
