.historialWrapper {
  padding: 20px;
  background-color: #134f8c; /* Azul más fuerte */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.5rem; /* Título más grande */
  font-weight: bold;
  color: #ffffff; /* Blanco */
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.3); /* Sombra suave */
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters button {
  background-color: #444444;
  color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  border: none; /* Sin borde */
}

.filters .activeFilter {
  background-color: #ffffff; /* Fondo blanco cuando está activo */
  color: #000000; /* Letras negras */
  font-weight: bold;
}

.historialTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.historialTable th, .historialTable td {
  padding: 15px 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #f0f0f0;
}

.historialTable th {
  background-color: #0d3b62; /* Fondo azul más fuerte para encabezado */
  color: #ffffff;
  font-weight: bold;
}

.historialTable tbody tr {
  transition: background-color 0.3s ease; /* Suavizado */
}

.victoria {
  background: linear-gradient(135deg, #56ff73, #0a5326); /* Turquesa más dinámico */
  color: #ffffff; /* Texto blanco */
}

.derrota {
  background: linear-gradient(135deg, #661717, #ff5151); /* Turquesa más dinámico */
  color: #ffffff; /* Texto blanco */
}

.noData {
  color: #888;
  font-size: 1.2rem;
  text-align: center;
}

.personajeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.personajeImg {
  width: 70px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #fff; /* Borde blanco alrededor de las imágenes */
  margin-top: 5px;
}

/* Estilo para el número de posición (#) */
.historialTable td:first-child {
  font-weight: bold;
  color: #ffffff; /* Color destacado */
}

/* Mejorar la apariencia del texto de las filas */
.victoria, .derrota {
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: none; /* Sin sombra */
}
